/* ------- Style Sheet for the Self Help Tools Pages ------- */	

#selfhelpblock 
{
	width: 500px; 
	padding: 5px;
	margin: 0px 0px 0px 135px;
}

#selfhelpblock #intro 
{
    position:left;
    padding: 5px;
    width: 480px;
}

#selfhelpblock #holdercontent
{
	width:480px;
}

#selfhelpblock .feature 
{
    /*position:left;*/
    padding: 5px;
    width: 500px;
	border-top: 1px solid #000;
}

#selfhelpblock .content
{
	width:380px;	
}

#selfhelpblock .button 
{
	float: right;
	position:relative;
	top:-44px;
	padding-right:1px;
}