/* ------- Style Sheet for the Self Help Tools Pages ------- */	

#Content{
  padding-right:10px;
  width: 510px;
}

.wrapa{
  width: 400px;
}

.car label{
  position: relative;
  bottom: 93px;
  left: 242px;
}


.left {
margin: 0px; 
width: 320px;
float: left;
bottom: -13px;
position: relative;
}

#Careers {
width: 110px;
text-align: left;
}

.middleColumn {
  background-color: #ffffff;
  margin-left: 95px;
  width: 200px;
  height: 50px;
  position: relative;
}

#Form_CareerForm_Careers{
  width: 140px;
}

.Actions #Form_CareerForm_action_SendCareerFormForm {
  
left: 320px;  
bottom: 65px;
text-align: right;
position: relative;
}
